
.cardsSection {
    background-color: rgba(200, 255, 212, 0.142);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #72727277;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}


@media (max-width: 750px) {
    main {
        padding-top: 130px;
        position: static;
    }


    .cardsSection {
        flex-wrap: wrap;
        margin: 5px;
        padding: 5px;
    }


}