footer {
    
    height: 120px;
    background-image: linear-gradient(to top, rgba(217, 217, 217, 0.227),rgba(217, 217, 217, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position:fixed; */
    bottom: 0;
    width: 100%;

}   